/.idea/.gitignore
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.4/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/7.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashes.lock
/.gradle/7.4/dependencies-accessors/gc.properties
/.gradle/7.4/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/jarRepositories.xml
/.gradle/7.4/fileChanges/last-build.bin
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/7.4/checksums/sha1-checksums.bin
/.idea/vcs.xml
/build/resources/main/application.properties
/build/libs/chat-1.0-SNAPSHOT.jar
/.idea/gradle.xml
/build/classes/java/main/org/example/Main.class
/build/tmp/jar/MANIFEST.MF
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/7.4/fileHashes/resourceHashesCache.bin
.idea/*
.gradle/*
build/*
webapp.iml
.jar
/*.iml
/chatbackend/build/*
/chatbackend/build/resources/main/docker-compose.yaml
/chatbackend/build/classes/java/main/org/example/example/Main.class
/chatbackend/build/tmp/compileJava/previous-compilation-data.bin
/chatbackend/build/classes/java/main/org/example/example/domain/UserEntity.class
